body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0;
 
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 10px 20px;
  z-index: 1000; /* Asegura que la navbar esté siempre por encima del contenido */
}

.navbar .logo img {
  height: 40px;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-link {
  text-decoration: none;
  color: #D2B88E;
  padding: 8px 8px;
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.navbar .nav-link.active {
  border-bottom: 2px solid #6c786B;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar .nav-link {
    padding: 8px 5px;
    font-size: 12px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar .nav-link {
    padding: 8px 4px;
    font-size: 11px; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
}

@media (max-width: 320px) {
  .navbar .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar .nav-link {
    padding: 8px 3px;
    font-size: 10px; /* Ajusta el tamaño de fuente para pantallas muy pequeñas */
  }
}
